#actionBtn {
  border-radius: 20px;
  font-size: 20px;
  padding-top: 1px;
  margin: 2px;
}
.input-group {
  margin-bottom: 5px;
}
#btnGroup button {
  margin-right: 3px;
}

#tableBtn {
  padding: 3px;
}
